*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body
{
    background-color: white;
    width: 100vw;
    height: fit-content;
}

a
{
    text-decoration: none;
}

/*---------HEADER--------*/

.header
{
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-section
{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header-section__img
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section__img--world
{
    width: 57px;
}

.header-section__img--tagline
{
    text-align: center;
    font-size: 1.4rem;
    font-family: serif;
}

.header-section__img--font img
{
    width: 150px;
    height: 25px;
}

/*---------MAIN---------*/
 
.main
{
   width: 100vw;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.main-section1
{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section1__form
{
    width: 90%;
    max-width: 600px;
    min-width: 244px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.main-section1__form--item1
{
    width: 100%;
    height: inherit;
}


.main-section1__form--item2
{
    width: 45px;
    height: inherit;
    position: absolute;
    right: 55px;
}

.main-section1__form--item2 select
{
    width: 100%;
    height: 100%;
    color: rgb(133, 133, 133);
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
    position: absolute;
}

.main-section1__form--item1 input
{
    width: 100%;
    height: 100%;
    border-top: solid 1px ;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: none;
    border-color: rgb(133, 133, 133);
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
}

.main-section1__form--item1 input:focus
{
    border: solid 2px #36c;
}

.main-section1__form--figure
{
    background-color: #36c;
    width: 20%;
    max-width: 50px;
    height: 44px;
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section1__form--figure-icon
{
    width: 22px;
}

.main-section2
{
    width: 100%;
    max-width: 550px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.main-section2__item
{
    width: 30%;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-section2__item:hover
{
    background-color: #eaedf0;
}

.main-section2__item a
{
    font-size: 1.4rem;
    color: #36c;
    margin: 0 0 0.8rem 0;
}

.main-section2__item a:hover
{
    text-decoration: underline;
}

.main-section2__item p
{
    color: #54595d;
    font-size: 1.4rem;
}

.main-section3
{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

}

.main-section3__form
{
    width: 90%;
    max-width: 350px;
    height: 40px;
    border: solid 1px rgb(133, 133, 133);
    margin: 1rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-section3__form--item
{
    width: 100%;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-section3__form--item figure
{
    width: fit-content;
    height: 35px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.main-section3__form--item img
{
    width: 20px;
}


.main-section3__form--item span
{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    color: #36c;
    text-align: center;
}

.main-section3__form--item select
{
    width: 30px;
    height: 40px;
    border: none;
    color: #36c;
    background-color: transparent;
    right: 0;
    outline: none;
    position: absolute;
}

.main-separador
{
    display: inline-block;
    width: 90%;
    margin: 1rem 0;
}

/*---------FOOTER--------*/

.footer
{
    width: 100vw;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-section1
{
    padding: 0 0 2.5rem 0;
}

.footer-section1__item
{
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
}

.footer-section1__item img
{
    width: 42px;
}

.footer-section1__item p
{
    font-size: 1.4rem;
    color: rgb(133, 133, 133);
}


.footer-section1__item a
{
    font-size: 1.4rem;
    color: #36c;
}

.footer-section1__item a:hover
{
    text-decoration: underline;
}

.footer-section2
{
    width: 90%;
    max-width: 600px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-section2__item
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5rem 0;
}

.footer-section2__item:hover
{
    background-color: #eaedf0;
}

.footer-section2__item--icon
{
    width: 40px;
    margin: 1rem;
}

.footer-section2__item--icon img
{
    width: 35px;
}

.footer-section2__item--letters
{
    width: fit-content;
    text-align: start;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-section2__item--letters a
{
    width: 100%;
    font-size: 1.3rem;
    color: #36c;
}

.footer-section2__item--letters p
{
    width: 100%;
    font-size: 1.3rem;
    color: rgb(133, 133, 133);
}

.footer-section3
{
    background-color: #fff;
    padding: 0 0 2.5rem 0;
}

.footer-section3__logo
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section3__logo img
{
    width: 25px;
    margin: 0.5rem;
    border: solid rgb(196, 195, 195) 1px;
    border-radius: 2px;
}

.footer-section3__logo a
{
    font-size: 1.3rem;
    font-weight: 700;
    color: #36c;
}

.footer-section3__text
{
    padding: 1rem;
}

.footer-section3__text p
{
    font-size: 1.4rem;
    color: #54595d;
}

.footer-section3__logos
{
    padding: 1rem 0;
}

.footer-section3__logos img
{
    width: 115px;
    margin: 0 0.5rem;
}

.footer-separador
{    
    width: 90%;
    margin: 1rem auto;
    display: inline-block;
}

.footer-section4
{
    width: 100%;
    padding: 1rem 0 1.5rem 0;
}

.footer-section4__text
{
    font-size: 1.25rem;
    color: #54595d;
}

.footer-section4__text a
{
    color: #36c;
}

.footer-section4__list
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #36c;
}

.footer-section4__list li
{
    list-style: none;
}

.footer-section4__list a
{
    font-size: 1.2rem;
    color: #36c;
    margin: 0 1rem;
}

#linkTerms::before
{
    content: "•";
}

#linkTerms::after
{
    content: "•";
}