/*---------HEADER--------*/

.header
{
    height: 17vh;
}

.header-section
{   
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
}

.figure-world
{
    top: calc(100% + 100px);
    position: absolute;
}

.header-section__img--world
{    
    width: 200px;
}

.header-section__img--font img
{
    width: 180px;
}

.header-section__img--tagline
{
    font-size: 1.6rem;
    margin: 0.5rem 0;
}

/*---------MAIN---------*/

.main-section1
{
    width: 90%;
    margin: 1.5rem 0;
    order: 2;
}

.main-section2
{
    order: 1;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 0;
}

.main-section2__item
{
    width: 50%;
    margin: 1rem 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.lang
{
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
}

.lang a
{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.lang p
{
    margin: 0 0.1rem;
}

.two
{
    width: 55%;
}

.three, 
.seven
{
    margin-left: -35%;
}

.five
{
    margin-left: -50%;
}

.four,
.eight
{
    margin-right: -35%;
}

.six
{
    margin-right: -50%;
}

.main-section3
{
    width: 80%;
    order: 3;
}

.main-separador
{
    order: 4;
}


/*---------FOOTER---------*/

.footer-section2
{
    width: 100%;
    justify-content: center;
}

.footer-section2__item
{
    width: 30%
}


/*---------MEDIA QUERIES 550PX---------*/

@media (min-width: 550px)
{
    .main-section2
    {
        width: 90%;
    }


    .header-section__img--world
    {    
        width: 210px;
    }

}